body {
  &.has-footer {
    background-color: #353937;
  }

  > .footer {

    padding-top: 40px;
    color: $gray-400;
    font-weight: 500;

    small {
      font-weight: $font-weight-normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
      margin: 0;
      font-weight: 500;
    }

    a {
      color: $gray-400;
    }

    .text-muted {

      color: $gray-400 !important;

      a {
        color: $gray-400;
      }

    }

    address {

      position: relative;
      padding-left: 24px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-image: url("../img/icon_footer_location_pin.svg");
      }

    }

    .link-www {

      display: block;
      position: relative;
      padding-left: 24px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-image: url("../img/icon_footer_website.svg");
      }

    }

    .link-phone {

      display: block;
      position: relative;
      padding-left: 24px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-image: url("../img/icon_footer_phone.svg");
      }

    }

    .link-email {

      display: block;
      position: relative;
      padding-left: 24px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-image: url("../img/icon_footer_email.svg");
      }

    }

  }

  > .main-content > .navbar {

    margin-bottom: 0;
    font-size: $font-size-lg;
    font-weight: 600;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #81c241;
    padding: 0;
    background-color: #fff !important;

    .row {
      width: 100%;
    }

    .navbar-header {
      //margin-left: 30px;
    }

    .product-name {

      padding-top: 5px;

      .navbar-brand {
        margin-top: 0;
        float: none;
        height: 36px;
        margin-left: 0;
      }

      .product-name-image {
        width: 100%;
        height: 17px;
        background-position: center left;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 7px;
      }

    }

  }

}


@include media-breakpoint-up(md) {

  body > .main-content > .navbar .product-name {

    padding-left: 20px !important;

    .navbar-brand {
      height: 50px;
      margin-left: 0;
    }

    .product-name-image {
      height: 31px;
      margin-left: 0;
      margin-top: 30px;
      background-position: center center;
    }

  }

}

@media (min-width: 0) {

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
    margin-top: 16px;
  }

}

.navbar div.navbar-brand {
  display: inline-block;
}

.navbar div.navbar-brand:hover {
  opacity: 1;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: .9px;
}


.main-content {

  background-color: #fff;
  min-height: calc(100vh - 350px);
  padding-bottom: 26px;

  &.bg-muted {
    background-color: #eff2f3;
  }

  &.bg-green {

    position: relative;
    overflow: hidden;
    background-color: #2ea049;
    background-image: linear-gradient(89deg, #81c241, #2ea049);

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 347px;
      height: 612px;
      opacity: .1;
      background-image: url("../img/angled_white_dot_pattern.png");
    }

  }

}

.sign-in-menu {

  font-weight: 600;

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {

    min-width: 320px;
    padding: 25px 30px;


    h3 {
      margin-top: 0;
    }

  }

  .col-form-label {
    padding-top: 0;
  }

}

@include media-breakpoint-down(sm) {

  .sign-in-menu {

    text-align: right;
    font-size: 14px;

    a {

      padding-top: 8px !important;
      padding-bottom: 13px !important;

      img {
        margin-bottom: 10px;
      }

    }

  }

}

@include media-breakpoint-only(xs) {

  .welcome-logo img {
    margin-left: 25px;
    margin-top: 5px;
  }

}

.btn {

  // transition: background 250ms;
  // font-weight: $font-weight-bold;
  box-shadow: 0 3px 3px 0 rgba($black, .15);
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: .9px;
  padding: 10px 18px;

  &.btn-secondary {
    border: 1px solid #d9dee1;
    color: #2ea049;
    box-shadow: 0 3px 3px 0 rgba($black, .05);

    &:hover,
    &:focus {
      background: $white;
    }
  }

  &.btn-blank {

    background: transparent;
    color: $link-color;
    box-shadow: none;

    &:hover {

      text-decoration: underline;

      .text-normal {
        text-decoration: none;
        text-decoration-line: none;
      }

    }

    .text-normal {
      color: $body-color;
      font-weight: $font-weight-normal;
      letter-spacing: normal;
      font-size: $font-size-base;
      text-decoration: none;
    }

  }

  &.btn-muted {

    color: #5a5e5a;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $black;
    }

  }

}

.form-control {

  box-shadow: none;
  border-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
  font-weight: 600;
  padding-left: 8px;

  &:focus {
    box-shadow: none;
  }
}

textarea.form-control {
  border-top-width: 2px;
  border-right-width: 2px;
}

.form-control-wrap {

  position: relative;
  display: block;

  &::before {

    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 8px);
    width: 3px;
    background: $input-bg;
    z-index: 4;

  }

  .gutter-icon {
    position: absolute !important;
    top: 9px;
    right: -24px;
  }

}

.col-form-label {
  color: $gray-800;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;

  .text-muted {
    font-weight: $font-weight-normal;
    color: $gray-600;
    margin-left: 8px;
  }

  &.has-focus {
    color: #000;
  }

}

.form-control-feedback {
  opacity: .5;
  transition: opacity 250ms;
  position: absolute;
  top: 4px;
  right: 8px;
}

.form-control:focus + .form-control-feedback,
.form-control:focus + * .form-control-feedback {
  opacity: 1;
}

a.form-control-feedback {

  pointer-events: auto;
  color: $black;

  &:hover {
    opacity: 1;
  }

}

.dropdown-menu {
  border-radius: 9px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 9px;
}

.header-menu .dropdown-menu,
.header-hamburger .dropdown-menu,
.workbench-table-cell .dropdown-menu {
  border-radius: 3px;
  padding: 2px 0;

  .dropdown-item {
    font-size: $font-size-smaller;
    line-height: 16px;
  }
}

.open > .dropdown-menu,
.workbench-table-cell .dropdown-menu {
  animation-name: slidenavanimation;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavanimation;
  -webkit-animation-duration: .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavanimation;
  -moz-animation-duration: .2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

@keyframes slidenavanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slidenavanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pad-xs {
  height: 8px;
}

.pad-sm {
  height: 15px;
}

.pad,
.pad-md {
  height: 30px;
}

.pad-lg {
  height: 40px;
}

.pad-xl {
  height: 55px;
}

.text-sm,
.text-small,
.font-sm,
.font-small {
  font-size: $font-size-sm;
}

.text-smaller,
.font-smaller {
  font-size: $font-size-smaller;
}

.text-md,
.text-medium,
.font-md,
.font-medium {
  font-size: $font-size-base;
}

.text-lg,
.text-large,
.font-lg,
.font-large {
  font-size: $font-size-lg;
}

.text-xl,
.text-x-large,
.font-xl,
.font-x-large {
  font-size: $font-size-xl;
}

.text-xxl,
.text-xx-large,
.font-xxl,
.font-xx-large {
  font-size: $font-size-xxl;
}

.text-xxxl,
.text-xxx-large,
.font-xxxl,
.font-xxx-large {
  font-size: $font-size-xxxl;
}

.jumbotron {

  position: relative;
  padding-bottom: 28px;
  letter-spacing: .9px;
  border-radius: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    height: 32px;
    opacity: .2;
    background-image: url("../img/white_dots_2_rows.svg");
  }

  background: #81c242;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  color: #fff;
  font-size: $h3-font-size;

  h1 {
    font-size: $h1-font-size;
    margin-top: 0;
    color: #fff;
  }

  p,
  ul,
  h2,
  h3,
  h4,
  h5,
  div {
    font-size: $h3-font-size;
    color: #fff;
  }

}

@include media-breakpoint-down(md) {

  .jumbotron {
    margin-bottom: 10px;
    padding-top: 18px;
    padding-bottom: 10px;
    background-image: linear-gradient(136deg, #81c241, $link-color) !important;
  }

}

@include media-breakpoint-up(lg) {

  .jumbotron::after {
    top: 8px;
  }

}

.card {

  position: relative;
  border-radius: 9px;
  @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, .2));
  padding: 25px 40px 35px;

  > *:first-child {
    margin-top: 0;
  }

  &.card-sm {
    padding: 15px 25px 20px;
  }

  > .card-close {
    position: absolute;
    top: 0;
    right: 0;
  }

}

@include media-breakpoint-only(xs) {

  .well-hidden-xs {
    padding: 0;
    background-color: initial;
    min-height: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .bg-white-xs {
    background-color: #fff;
  }

  .text-left-xs {
    text-align: left;
  }

  body > .main-content > .navbar .product-name.text-left-xs .product-name-image,
  body > .main-content > .navbar .product-name.text-center.text-left-xs .product-name-image {
    background-position: center left;
  }

}

@include media-breakpoint-only(sm) {

  .well-hidden-sm {
    padding: 0;
    background-color: initial;
    min-height: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .text-center-sm {
    text-align: center;
  }

  .bg-white-sm {
    background-color: #fff;
  }

}

@include media-breakpoint-only(lg) {

  .well-hidden-md {
    padding: 0;
    background-color: initial;
    min-height: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .text-center-md {
    text-align: center;
  }

  .border-lg-left {
    border-left: 1px solid #d9dee1 !important;
  }

}

@include media-breakpoint-up(xl) {

  .well-hidden-lg {
    padding: 0;
    background-color: initial;
    min-height: 0;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .text-center-lg {
    text-align: center;
  }

  .border-xl-left {
    border-left: 1px solid #d9dee1 !important;
  }

}

.reserve-two-lines {
  min-height: ($line-height-base * 2em);
}

h1.reserve-two-lines,
h2.reserve-two-lines,
h3.reserve-two-lines,
h4.reserve-two-lines,
h5.reserve-two-lines,
h6.reserve-two-lines {
  min-height: ($headings-line-height * 2em);
}

.full-width {
  width: 100%;
}

.btn-group-lg > .btn,
.btn-lg {

  padding: 12px 20px 18px;
  min-height: 80px;

  small {
    font-size: $font-size-base;
  }

}

.list-checks,
.list-checks-white {

  list-style: none;
  padding: 0;

  li {

    padding-left: 30px;
    position: relative;
    min-height: 3em;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 20px;
      height: 18px;
      background-image: url("../img/icon_checkmark_green_large.svg");
    }

    &.x-mark::before {
      background-image: url("../img/icon_orange_x_large.svg");
    }

  }

  &.list-checks-less-space li {
    min-height: unset;
    margin-bottom: 10px;
  }

}

.list-checks-white {

  color: #fff;

  li::before {
    background-image: url("../img/icon_checkmark_white_large.svg");
  }

}

.em {
  font-style: italic;
}

.strong,
strong {
  font-weight: 600;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.list-inline-piped {

  display: block;
  margin-left: 0;

  li {

    display: inline-block;
    padding: 0;

    &:not(:last-child)::after {
      content: "|";
      margin: 0 10px;
    }

  }

}

.navbar .navbar-brand {

  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent !important;
  //width: 100%;
  height: 50px;
  padding: 0;
  margin-top: 13px;
  margin-left: 0;
  margin-right: 0;
  transition: opacity 250ms;

  &:hover {
    opacity: .6;
  }

}

hr.hr-dots {
  background-image: url("../img/gray_dots_single_line.png");
  height: 13px;
  width: 100%;
  border: none;
}

.footer-decoration {
  background-size: cover;
  background-image: url("../img/white_dots_4_rows_footer.svg");
  height: 72px;
  margin: 60px 0 20px;
}

.checkbox {

  margin-bottom: 5px;
  position: relative;

  label {

    padding-left: 12px;

    input {

      position: relative;
      left: 20px;
      width: 0;
      height: 0;
      margin-right: 8px;
      opacity: 0;

      + span::before {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 0;
        left: 0;
        background-image: url("../img/icon_checkbox_off.svg");
      }

      &:checked + span::before {
        background-image: url("../img/icon_checkbox_on.svg");
      }

      &:hover + span::before {
        background-image: url("../img/icon_checkbox_off_hover.svg");
      }

      &:checked:hover + span::before {
        background-image: url("../img/icon_checkbox_on_hover.svg");
      }

    }

  }

}

.radio {

  margin-bottom: 5px;
  position: relative;

  label {

    padding-left: 12px;

    input {

      position: relative;
      left: 20px;
      width: 0;
      height: 0;
      margin-right: 8px;
      opacity: 0;

      + span::before {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 0;
        left: 0;
        background-image: url("../img/icon_radio_button_off.svg");
      }

      &:checked + span::before {
        background-image: url("../img/icon_radio_button_on.svg");
      }

      &:hover + span::before {
        background-image: url("../img/icon_radio_button_off_hover.svg");
      }

      &:checked:hover + span::before {
        background-image: url("../img/icon_radio_button_on_hover.svg");
      }

    }

  }

}

.progress {

  box-shadow: none;

  &.progress-sm {
    height: 6px;
    margin-top: 6px;
  }

  > .progress-bar {
    transition: background 250ms;
  }

}

.progress-bar-danger {
  background-color: #e60303;
}

.progress-bar-warning {
  background-color: #fd7f23;
}

.progress-bar-ok {
  background-color: #f2c700;
}

.progress-bar-success {
  background-color: #81c241;
}

.input-group-addon {
  border-color: transparent !important;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  box-shadow: none;
}

.help-block,
.form-text,
.invalid-feedback {
  font-size: $font-size-sm;
  font-weight: 600;
}

.help-block,
.form-text {
  color: #71767f;
}

a.help-block,
a.form-text {
  font-weight: 600;
  color: #2ea049;
}

.alert {

  font-size: $font-size-lg;
  font-weight: 500;
  padding: 20px 20px 20px 48px;
  overflow: hidden;
  position: relative;
  letter-spacing: .9;
  border: none;
  color: #fff;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -35px;
    left: 0;
    width: 347px;
    height: 612px;
    opacity: .1;
    background-image: url("../img/angled_white_dot_pattern.png");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    margin-top: 0;
    font-size: $h2-font-size;
    font-weight: 600;
    margin-bottom: 20px;
  }

  > p {
    margin-bottom: 0;
  }

  &.alert-success {
    background-image: linear-gradient(144deg, #81c241, #2ea049);
  }

  .has-icon {

    display: table;

    > span {

      display: table-cell;

      &:first-child {
        padding-right: 10px;
      }

    }

  }

}

@include media-breakpoint-only(xs) {

  .alert {

    padding-left: 24px;

  }

  .btn-group-lg > .btn,
  .btn-lg {
    padding: 5px 10px 9px;
  }

}

.navbar-secondary-brand {

  min-height: 80px;
  padding-right: 20px;

  img {
    margin-top: 7px;
  }

}

.navbar-nav {
  display: block;
}

.navbar-nav li {
  display: block;
}

.navbar-nav > li > a {
  padding-top: 40px;
  padding-bottom: 20px;
}

.row-no-padding {

  margin-left: 0 !important;
  margin-right: 0 !important;

  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

.row-half-padding {

  margin-left: ($grid-gutter-width / 4 * -1) !important;
  margin-right: ($grid-gutter-width / 4 * -1) !important;

  [class*="col-"] {
    padding-left: ($grid-gutter-width / 4) !important;
    padding-right: ($grid-gutter-width / 4) !important;
  }

}

.row-quarter-padding {

  margin-left: ($grid-gutter-width / 8 * -1) !important;
  margin-right: ($grid-gutter-width / 8 * -1) !important;

  [class*="col-"] {
    padding-left: ($grid-gutter-width / 8) !important;
    padding-right: ($grid-gutter-width / 8) !important;
  }

}

.form-text {
  min-height: $line-height-computed;
}

.form-control-short {

  width: auto;
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

}

.semi-strong {
  font-weight: 500;
}

.button-height {
  height: 41px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

small,
.small {
  font-weight: inherit;
}

table.table.table-sm {

  thead {

    tr:first-child {

      th {
        border-top: none;
      }

    }

  }

}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.no-xs-padding {
  @include media-breakpoint-only(xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

.workbench-banner {
  position: relative;
  background-image: linear-gradient(89deg, #81c241, #2ea049);

  &::before {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .14;
    background-image: url("../img/angled_white_dot_pattern.png");
    background-position-y: calc(65% + 5px);
    transition: background-position 250ms;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
      background-position-y: 65%;
    }
  }

  .workbench-banner-content {

    @include media-breakpoint-only(xs) {
      margin-left: 0;
      margin-right: 0;
    }

    @include media-breakpoint-up(md) {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 1rem * (13 / 16);
      padding-bottom: 1rem * (13 / 16);
    }

  }

  .workbench-banner-form {

    padding-bottom: 43px;

  }

  .workbench-banner-left {
    @include media-breakpoint-up(sm) {
      min-width: 180px;
    }
  }

  .workbench-banner-left .workbench-banner-left-text {
    font-size: 30px;
    font-weight: $font-weight-normal;
    color: $white;
  }

  .workbench-banner-right {
    @include media-breakpoint-up(sm) {
      min-width: 180px;
    }
  }

  .workbench-banner-right .workbench-banner-right-text {
    font-size: $font-size-lg;
    letter-spacing: .4px;
    color: $white;
  }

  &.workbench-banner-open::before {

    background-position-y: 100%;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
      background-position-y: 100%;
    }
  }

}

.workbench-main,
.detail-main {
  background-image: linear-gradient(to bottom, #eff2f3 0%, #d9dee1);
  padding-bottom: 100px;
}

.workbench-status {

  .workbench-status-content,
  .workbench-status-back {
    @include media-breakpoint-only(xs) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .last-refreshed-label {
    color: #5a5a5a;
  }

  .last-refreshed-value {
    color: $black;
  }

  .refresh-reminder {
    text-indent: -300px;
    width: 0;
    overflow: hidden;

    &.active {
      text-indent: 0;
      padding-left: 1.5rem;
      width: auto;
      transition: text-indent 1s linear;
    }
  }

  .refresh-text {
    color: #38a448;
  }

}

.workbench-table,
.detail-container {
  background: $white;
  box-shadow: 0 2px 9px 0 rgba(63, 75, 80, .4);

  .workbench-table-header {
    font-size: $font-size-sm;
    line-height: 15px;

    .workbench-table-cell {
      background: $black;
      padding: 20px 12.5px;

      &.sorted {
        background: $dark;
      }

      &.sortable {

        &:hover {
          cursor: pointer;
          position: relative;
          background: $black;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(239, 242, 243, .3);
          }
        }
      }

      @include media-breakpoint-only(xs) {
        padding-top: 10px;
        padding-bottom: 10px;

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }
      }

      &:not(:last-child) {
        border-right: 1px solid rgba(141, 147, 154, .38);
      }
    }
  }

  .workbench-table-cell {
    padding: 10px 12.5px;
  }

  .workbench-table-row {
    @include media-breakpoint-only(xs) {
      padding: 0 12.5px;
    }

    .date-column {
      .date {
        font-size: $font-size-smaller;
        line-height: 16px;
      }

      .time {
        font-size: $font-size-sm;
        line-height: 16px;
        color: $text-muted;
      }
    }

    .lender-column {
      img {
        max-width: 100%;
      }
    }

    .documents-column {
      .docs-label,
      .pages .docs-value {
        font-size: $font-size-sm;
      }

      .docs-label,
      .comma {
        color: $text-muted;
      }

      .note-footer {
        font-size: $font-size-smaller;
      }
    }

    .status-column {

      .eo-icon {
        flex-shrink: 0;
      }

      .status-text {
        font-size: $font-size-smaller;
      }

      .status-more {
        font-size: $font-size-sm;
        color: $link-color;

        .more-actions-toggle {
          position: relative;

          &::after {
            content: "";
            display: inline-block;
            background-size: cover;
            line-height: 1em;
            margin-left: 2px;
            @include icon-versions(8px, 5px, "../img/icon_menu_arrow_down_green.svg");
          }
        }
      }
    }

    .buttons-column {
      .btn {
        letter-spacing: .4px;

        @include media-breakpoint-only(md) {
          font-size: $font-size-smaller;
        }
      }
    }
  }
}

.workbench-table .workbench-table-row {

  &:hover {
    cursor: pointer;
    background: rgba(185, 239, 132, .5);
    transition: background .3s;
  }

  &.hover {
    background: rgba(185, 239, 132, 1);
    transition: background .3s;
  }

  &.new {
    background: rgba(185, 239, 132, .5);

    &.bg-fade {
      background: transparent;
      transition: background 2s;
    }
  }

  .workbench-table-cell {

    &.name-column {
      .cell-text {
        font-size: $font-size-smaller;
        color: $link-color;
      }
    }

    &.lender-column {
      flex-basis: 145px;
      flex-grow: 0;
    }

    @include media-breakpoint-only(xs) {
      &.date-column {
        flex-basis: 95px;
        flex-grow: 0;
      }

      &.status-column {
        flex-basis: 140px;
        flex-grow: 0;
      }
    }
  }
}

.detail-container {

  .workbench-table-row {

    @include media-breakpoint-up(sm) {
      .detail-row-left {
        padding-left: 12.5px;
      }

      .detail-row-right {
        padding-right: 7.5px;
      }
    }

    .workbench-table-cell {

      &.name-column {
        max-width: 180px;

        .cell-text {
          font-size: $font-size-lg;
          line-height: 19px;
        }
      }

      @include media-breakpoint-down(sm) {
        &.name-column {
          padding-bottom: 0;
        }
        &.date-column {
          padding-top: 0;
        }
      }

      @include media-breakpoint-only(xs) {
        &.status-column {
          padding-top: 0;
        }
      }
    }
  }

  .detail-more-row {
    background: rgba(129, 194, 65, .17);

    .detail-more-main {

      .item-label {
        padding-left: 12.5px;
        padding-right: 12.5px;
        color: $gray-600;
        line-height: 1rem;
        top: 1px;
        // font-size: $font-size-sm;
        // text-transform: uppercase;
      }

      .item-value {
        color: $black;
        padding-left: 0;
        padding-right: 12.5px;
        line-height: 1rem;
        // font-size: $font-size-smaller;
      }

      .lender-logo img {
        max-width: 98px;
      }

      .detail-more-right {
        @include media-breakpoint-up(lg) {
          max-width: 200px;
        }
      }
    }

    .detail-more-notes-container {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;

      @include media-breakpoint-up(md) {
        width: auto;
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }
}

.card.notes-box {
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(87, 164, 10, .17);

  @include media-breakpoint-between(md, lg) {
    width: 350px;
  }

  @include media-breakpoint-up(xl) {
    width: 400px;
  }

  &.notes-container {
    .card-header {
      color: $white;

      .add-note-link {
        color: $white;
      }
    }

    .card-body {
      color: $gray-600;

      .notes-container-notes {
        background: $white;
        height: 120px;
        overflow-y: scroll;
      }
    }
  }

  &.add-note-form,
  &.edit-note-form {
    border-color: #81c241;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .23);

    .card-header {
      background: $white;

      .card-header-title {
        font-size: $font-size-smaller;
        color: #5a5e5a;
        line-height: $font-size-lg;
      }

      .card-header-right {
        font-size: $font-size-sm;
        line-height: 15px;
        color: #5a5e5a;
      }
    }

    .card-body {
      textarea.form-control {
        font-size: $font-size-smaller;
        color: $black;
      }
    }
  }
}

// internal note theming - on dashboard (as popover) and detail pages
.note {
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.note-content {

  .note-heading {
    font-size: $font-size-sm;
    line-height: $font-size-sm;
    color: #5a5e5a;
  }

  .note-text {
    font-size: $font-size-smaller;
    line-height: 16px;
    color: $black;
  }
}

.modal {

  .modal-full {
    min-width: 100%;
    margin: 0;

    .modal-content {
      min-height: 100vh;
    }

    .modal-header {
      // padding: 0;
    }

  }

  .modal-content {
    border-radius: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
  }

  .modal-header {
    background: #daf7bf;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 24px;

    .modal-title {
      font-size: $font-size-smaller;
      color: #5a5e5a;
      line-height: 18px;

      &.font-lg {
        font-size: $font-size-xxl;
        line-height: 1.5rem;
        letter-spacing: normal;
      }
    }
  }

  .modal-body {
    textarea.form-control {
      font-size: $font-size-smaller;
      color: $black;
    }
  }

}

.modal-backdrop {
  background-color: $white;
}

.popover {
  width: 350px;
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);

  .popover-header {
    color: $body-color;
    font-size: $font-size-sm;
    line-height: 1rem;
    border-bottom: none;
  }
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.bootstrap-datetimepicker-widget table {
  border: 1px solid #d9dee1;
}

.bootstrap-datetimepicker-widget table th {
  border-bottom: none;
}

.bootstrap-datetimepicker-widget table thead tr:first-child {
  background-color: #d9dee1;
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #57a40a;
  display: none;
}

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
  color: #353937;
}

.bootstrap-datetimepicker-widget table td.day.active,
.bootstrap-datetimepicker-widget table td.day.active:hover {

  background-color: #57a40a;
  color: #fff;

  &::before {
    display: none;
  }

}

.bootstrap-datetimepicker-widget table td.day {
  color: #2ea049;
  border: none;
  font-weight: 600;
}

.bootstrap-datetimepicker-widget table td.day.disabled {
  color: #8d939a;
}

.bootstrap-datetimepicker-widget table td.day.old,
.bootstrap-datetimepicker-widget table td.day.new {
  font-weight: 400;
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.toast {
  border-radius: $border-radius;
  box-shadow: $toast-box-shadow;

  &.fade {
    @include transition(opacity 1s linear);
  }

  &.hide {
    display: none !important;
  }

  .toast-header {
    padding: 0;
    width: 45px;
    position: relative;
    border-bottom: 0;
    border-left: 1px solid $gray-300;

    .toast-close {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      border-radius: 0;
      text-align: center;
      padding: 0 15px;
    }
  }
}

.nav-tabs {
  border-bottom: none;
  background: linear-gradient(to right, #5fa600, #2ea049);

  .nav-item {
    margin-bottom: 0;
  }

  .nav-link {
    border-width: 0;
    border-radius: 0;
    color: $white;
    position: relative;

    &.active {
      background: $black;
      color: $white;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        width: 20px;
        height: 10px;
        background: $black;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
}

.nav-tabs-lg-wrapper {
  .nav-tabs {
    .tab-docs-detail {
      .docs {
        padding-left: .5rem;

        &:first-child {
          padding-left: 0;
        }
      }

      .docs-label,
      .pages .docs-value {
        font-size: $font-size-sm;
      }

      .docs-popover-trigger {
        .popover {
          width: 250px;

          .popover-body {
            max-height: 260px;
            overflow-y: scroll;
          }

          .docs-update {
            .docs-update-heading {
              background-color: #eff2f3;

              .docs-update-date,
              .docs-update-time {
                font-weight: $font-weight-semibold;
                font-size: $font-size-sm;
                line-height: 15px;
              }
            }

            .docs-update-docs {
              list-style: none;
              padding-left: 27px;
              padding-top: .25rem;
              padding-bottom: .5rem;
              margin-bottom: 0;

              .docs-update-doc {
                padding: .25rem 0;
                font-size: $font-size-sm;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }

  .tab-content {
    // patch to allow star popover treatment to remain consistent
    .lender-docs-inner,
    .signing-summary-inner {
      min-height: 300px;
    }
  }
}

.signing-summary-table {

  th,
  td {
    padding: 1rem 1.5rem;
  }

  thead {
    background: #eff2f3;

    th {
      text-transform: uppercase;
      font-weight: $font-weight-semibold;
      font-size: $font-size-sm;
      line-height: 13px;
      color: #5a5e5a;
      border-top: 0;
      border-bottom: 0;
    }
  }

  tbody {

    th,
    td {
      font-size: $font-size-smaller;
      line-height: 19px;
    }

    tr:first-child {
      th,
      td {
        border-top: 0;
      }
    }

    th {
      .cell-icon {
        width: 37px;
        padding-right: 10px;
      }

      .cell-text {
        font-weight: $font-weight-semibold;
      }
    }

    td {
      .cell-icon {
        width: 40px;
      }

      .status-na {
        color: $text-muted;
      }
    }
  }

  .modal-body & {
    td {
      @include media-breakpoint-only(xs) {
        .signing-summary-table-cell-content {
          justify-content: flex-end;

          .cell-icon {
            width: auto;
          }

          .cell-text {
            @include sr-only;
          }
        }
      }
    }
  }
}

.navbar-collapse.righthand-name-menu {
  flex-grow: unset;
}

.navbar-toggler:focus {
  outline: none !important;
}

.navbar {

  .navbar-brand.workbench-brand {

    width: 100px;
    margin-top: 9px;
    height: 35px;

    @include media-breakpoint-up(lg) {
      width: 157px;
      margin-top: 16px;
      height: 50px;
    }

  }

  .workbench-product-name-image {

    width: 110px;

    @include media-breakpoint-up(lg) {
      width: 208px;
    }

  }

  .righthand-name-menu {

    @include media-breakpoint-up(sm) {
      width: 100px;
    }

    @include media-breakpoint-up(lg) {
      width: 157px;
    }

  }

  .navbar-toggler {

    text-align: right;

    @include media-breakpoint-up(lg) {
      width: 157px;
    }

  }

}

.header-menu {

  font-size: 13px;

  .list-inline-item:not(:last-child) {
    margin-right: 40px;
  }

  a {
    color: #5a5e5a;
  }

  a:hover,
  a:focus {

    color: #2ea049;
    text-decoration: none;

    .eo-icon-my-closings-small { @include icon-versions(29px, 26px, "../img/icon_my_closings_small_hover_select.svg"); }
    .eo-icon-my-account { @include icon-versions(21px, 21px, "../img/icon_my_account_hover_select.svg"); }
    .eo-icon-sign-out { @include icon-versions(21px, 21px, "../img/icon_sign_out_hover_select.svg"); }

  }

}

.header-hamburger {

  a:hover {
    text-decoration: none;
  }

  a.dropdown-toggle {
    font-size: 13px;
    color: #5a5e5a;
  }

  .dropdown-toggle::after {
    display: none;
  }

}

@include media-breakpoint-down(sm) {

  .eo-icon.eo-icon-closing-large.mobile-adjust {
    width: 36.5px;
    height: 31px;
  }

}

@include media-breakpoint-only(xs) {

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}
