@mixin icon-versions($width, $height, $url) {

  $computedWidth: ($width);
  $computedHeight: ($height);
  width: $computedWidth;
  height: $computedHeight;
  background-image: url($url);
  background-size: cover;
  vertical-align: middle;
  background-repeat: no-repeat;
  position: relative;

  &.eo-icon-xs {
    $computedWidth: ($width * .25);
    $computedHeight: ($height * .25);
    width: $computedWidth;
    height: $computedHeight;
  }

  &.eo-icon-sm {
    $computedWidth: ($width * .5);
    $computedHeight: ($height * .5);
    width: $computedWidth;
    height: $computedHeight;
  }

  &.eo-icon-lg {
    $computedWidth: ($width * 1.25);
    $computedHeight: ($height * 1.25);
    width: $computedWidth;
    height: $computedHeight;
  }

  &.eo-icon-xl {
    $computedWidth: ($width * 1.5);
    $computedHeight: ($height * 1.5);
    width: $computedWidth;
    height: $computedHeight;
  }

}

.eo-icon {

  display: inline-block;
  background-size: cover;
  line-height: 1em;
  transition: 250ms;

  &.eo-icon-middle {
    vertical-align: middle !important;
  }

  &.eo-icon-baseline {
    vertical-align: baseline !important;
  }

  &.eo-icon-bottom {
    vertical-align: text-bottom !important;
  }

  &.eo-icon-pad-sm {
    margin-right: 2px;
  }

  &.eo-icon-half-opacity {
    opacity: .5;
  }

  &.eo-icon-add-a-person {
    @include icon-versions(28px, 28px, "../img/icon_add_a_person.svg");
    top: -2px;
  }
  &.eo-icon-alert-large { @include icon-versions(32px, 32px, "../img/icon_alert_large.svg"); }
  &.eo-icon-alert-large-red { @include icon-versions(32px, 32px, "../img/icon_alert_large_red.svg"); }
  &.eo-icon-asterisk {
    @include icon-versions(9px, 9px, "../img/icon_asterisk.svg");
    top: -1px;
  }
  &.eo-icon-asterisk-red {
    @include icon-versions(9px, 9px, "../img/icon_asterisk_red.svg");
    top: -1px;
  }
  &.eo-icon-checkbox-off { @include icon-versions(18px, 18px, "../img/icon_checkbox_off.svg"); }
  &.eo-icon-checkbox-off-hover { @include icon-versions(18px, 18px, "../img/icon_checkbox_off_hover.svg"); }
  &.eo-icon-checkbox-on { @include icon-versions(18px, 18px, "../img/icon_checkbox_on.svg"); }
  &.eo-icon-checkbox-on-hover { @include icon-versions(18px, 18px, "../img/icon_checkbox_on_hover.svg"); }
  &.eo-icon-checkmark-green-large { @include icon-versions(20px, 18px, "../img/icon_checkmark_green_large.svg"); }
  &.eo-icon-checkmark-white-large { @include icon-versions(20px, 18px, "../img/icon_checkmark_white_large.svg"); }
  &.eo-icon-closing-large { @include icon-versions(73px, 62px, "../img/icon_closing_large.svg"); }
  &.eo-icon-closing-medium { @include icon-versions(62px, 53px, "../img/icon_closing_medium.svg"); }
  &.eo-icon-email-verified-large { @include icon-versions(50px, 32px, "../img/icon_email_verified_large.svg"); }
  &.eo-icon-equal-housing-lender { @include icon-versions(112px, 21px, "../img/icon_equal_housing_lender.svg"); }
  &.eo-icon-footer-email { @include icon-versions(18px, 18px, "../img/icon_footer_email.svg"); }
  &.eo-icon-footer-location-pin { @include icon-versions(18px, 18px, "../img/icon_footer_location_pin.svg"); }
  &.eo-icon-footer-logo-w-tagline { @include icon-versions(223px, 61px, "../img/icon_footer_logo_w_tagline.svg"); }
  &.eo-icon-footer-phone { @include icon-versions(18px, 18px, "../img/icon_footer_phone.svg"); }
  &.eo-icon-footer-website { @include icon-versions(18px, 18px, "../img/icon_footer_website.svg"); }
  &.eo-icon-header-eoriginal-logo { @include icon-versions(157px, 30px, "../img/icon_header_eoriginal_logo.svg"); }
  &.eo-icon-header-powered-by { @include icon-versions(182px, 42px, "../img/icon_header_powered_by_logo.svg"); }
  &.eo-icon-info-small { @include icon-versions(16px, 16px, "../img/icon_info_small.svg"); }
  &.eo-icon-info-small-hover { @include icon-versions(16px, 16px, "../img/icon_info_small_hover.svg"); }
  &.eo-icon-menu-arrow-down { @include icon-versions(8px, 5px, "../img/icon_menu_arrow_down.svg"); }
  &.eo-icon-menu-arrow-down-green { @include icon-versions(8px, 5px, "../img/icon_menu_arrow_down_green.svg"); }
  &.eo-icon-orange-x-large { @include icon-versions(20px, 18px, "../img/icon_orange_x_large.svg"); }
  &.eo-icon-password-hidden { @include icon-versions(20px, 18px, "../img/icon_password_hidden.svg"); }
  &.eo-icon-password-shown { @include icon-versions(20px, 18px, "../img/icon_password_shown.svg"); }
  &.eo-icon-radio-button-off { @include icon-versions(18px, 18px, "../img/icon_radio_button_off.svg"); }
  &.eo-icon-radio-button-off-hover { @include icon-versions(18px, 18px, "../img/icon_radio_button_off_hover.svg"); }
  &.eo-icon-radio-button-on { @include icon-versions(18px, 18px, "../img/icon_radio_button_on.svg"); }
  &.eo-icon-radio-button-on-hover { @include icon-versions(18px, 18px, "../img/icon_radio_button_on_hover.svg"); }
  &.eo-icon-remove-large {
    @include icon-versions(14px, 14px, "../img/icon_remove_large.svg");
    top: -1px;
  }
  &.eo-icon-documents { @include icon-versions(23px, 27px, "../img/icon_documents.svg"); }
  &.eo-icon-documents-updated { @include icon-versions(23px, 27px, "../img/icon_documents_updated.svg"); }
  &.eo-icon-note-green { @include icon-versions(15px, 16px, "../img/icon_note_green.svg"); }
  &.eo-icon-note-dk-gray { @include icon-versions(15px, 16px, "../img/icon_note_dk_gray.svg"); }
  &.eo-icon-trans-closing-completed { @include icon-versions(33px, 35px, "../img/icon_trans_closing_completed.svg"); }
  &.eo-icon-trans-closing-in-process { @include icon-versions(33px, 35px, "../img/icon_trans_closing_in_process.svg"); }
  &.eo-icon-trans-lender { @include icon-versions(33px, 33px, "../img/icon_trans_lender.svg"); }
  &.eo-icon-trans-ready-to-close { @include icon-versions(33px, 33px, "../img/icon_trans_ready_to_close.svg"); }
  &.eo-icon-trans-void { @include icon-versions(32px, 33px, "../img/icon_trans_void.svg"); }
  &.eo-icon-trans-withdrawn { @include icon-versions(32px, 33px, "../img/icon_trans_withdrawn.svg"); }
  &.eo-icon-refresh { @include icon-versions(14px, 14px, "../img/icon_refresh.svg"); }
  &.eo-icon-sort-down { @include icon-versions(18px, 18px, "../img/icon_sort_down.svg"); }
  &.eo-icon-sort-up { @include icon-versions(18px, 18px, "../img/icon_sort_up.svg"); }
  &.eo-icon-success-message { @include icon-versions(32px, 32px, "../img/icon_success_message.svg"); }
  &.eo-icon-success-message-green { @include icon-versions(32px, 32px, "../img/icon_success_message_green.svg"); }
  &.eo-icon-email-message { @include icon-versions(32px, 24px, "../img/icon_email_message.svg"); }
  &.eo-icon-add {
    @include icon-versions(14px, 14px, "../img/icon_add.svg");
    top: -1px;
  }
  &.eo-icon-previous-arrow {
    @include icon-versions(20px, 20px, "../img/icon_previous_arrow.svg");
  }
  &.eo-icon-next-arrow {
    @include icon-versions(20px, 20px, "../img/icon_next_arrow.svg");
  }
  &.eo-icon-add-closing-date-green {
    @include icon-versions(25px, 18px, "../img/icon_add_closing_date_green.svg");
    top: -1px;
  }
  &.eo-icon-add-closing-date-dk-gray {
    @include icon-versions(25px, 18px, "../img/icon_add_closing_date_dk_gray.svg");
    top: -1px;
  }
  &.eo-icon-add-note-dark-gray { @include icon-versions(19px, 19px, "../img/icon_add_note_dark_gray.svg"); }
  &.eo-icon-add-note-dark-white { @include icon-versions(19px, 19px, "../img/icon_add_note_dark_white.svg"); }
  &.eo-icon-edit-green { @include icon-versions(16px, 16px, "../img/icon_edit_green.svg"); }
  &.eo-icon-edit-dk-gray { @include icon-versions(16px, 16px, "../img/icon_edit_dk_gray.svg"); }
  &.eo-icon-back-arrow { @include icon-versions(11px, 12px, "../img/icon_back_arrow.svg"); }
  &.eo-icon-team-gray { @include icon-versions(14px, 16px, "../img/icon_team_gray.svg"); }
  &.eo-icon-team-green { @include icon-versions(14px, 16px, "../img/icon_team_green.svg"); }
  &.eo-icon-updated-star-gray { @include icon-versions(15px, 15px, "../img/icon_updated_star_gray.svg"); }
  &.eo-icon-updated-star-white { @include icon-versions(15px, 15px, "../img/icon_updated_star_white.svg"); }

  &.eo-icon-header-menu { @include icon-versions(18px, 12px, "../img/icon_header_menu.svg"); }
  &.eo-icon-my-account { @include icon-versions(21px, 21px, "../img/icon_my_account.svg"); }
  &.eo-icon-my-account-hover-select { @include icon-versions(21px, 21px, "../img/icon_my_account_hover_select.svg"); }
  &.eo-icon-my-closings-small { @include icon-versions(29px, 26px, "../img/icon_my_closings_small.svg"); }
  &.eo-icon-my-closings-small-hover-select { @include icon-versions(29px, 26px, "../img/icon_my_closings_small_hover_select.svg"); }
  &.eo-icon-sign-out { @include icon-versions(21px, 21px, "../img/icon_sign_out.svg"); }
  &.eo-icon-sign-out-hover-select { @include icon-versions(21px, 21px, "../img/icon_sign_out_hover_select.svg"); }


}

a:hover .eo-icon.eo-icon-half-opacity,
button:hover .eo-icon.eo-icon-half-opacity,
a:focus .eo-icon.eo-icon-half-opacity,
button:focus .eo-icon.eo-icon-half-opacity  {
  opacity: 1;
}
