<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,500i,600,600i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="has-footer">
  <div class="main-content pb-0">

    <div class="detail-main">

      <div class="container">
        <div class="row">
          <div class="col-12 no-xs-padding">

            <div class="container py-2 py-md-3 py-xl-4 workbench-status">
              <div class="row pb-2 align-items-center workbench-status-back">
                <span class="eo-icon eo-icon-back-arrow"></span>
                <a href="#" class="back-link ml-2">All closings</a>
              </div>
              <div class="row workbench-status-content d-flex align-items-center">
                <div class="last-refreshed text-sm">
                  <span class="last-refreshed-label">Last refreshed: </span>
                  <span class="last-refreshed-value">12/20/2019 10:23 am ET</span>
                </div>
                <div class="refresh-reminder d-none d-md-block text-smaller font-weight-semibold"><span>It’s been over 1 hour since your last refresh</span></div>
                <div class="refresh pl-3 pl-sm-4">
                  <a href="#" class="d-flex align-items-center">
                    <span class="eo-icon eo-icon-refresh"></span>
                    <span class="refresh-text font-weight-semibold pl-1 pl-sm-2">Refresh</span>
                  </a>
                </div>
              </div>
            </div> <!-- .workbench-status -->

            <div class="container detail-container">

              <div class="row justify-content-between align-items-sm-center workbench-table-row">
                <div class="detail-row-left d-flex flex-column flex-md-row align-items-md-center">
                  <div class="workbench-table-cell name-column">
                    <div class="cell-text">
                      <span class="last">Shields</span>, <span class="first">Jonathan</span>
                    </div>
                  </div>
                  <div class="workbench-table-cell date-column">
                    <div class="cell-text">
                      <span class="date font-weight-semibold pr-sm-1">12/14/2019</span>
                      <span class="time mr-sm-1">4:30 pm ET</span>
                      <span class="eo-icon eo-icon-edit-green"></span>
                    </div>
                  </div>
                </div>
                <div class="detail-row-middle d-none d-lg-block">
                  <div class="workbench-table-cell lender-column">
                    <div class="cell-text">
                      <img src="../img/icon_bank_of_america.png" alt="Bank of America" />
                    </div>
                  </div>
                </div>
                <div class="detail-row-right d-flex flex-column-reverse flex-sm-row align-items-sm-center">
                  <div class="workbench-table-cell status-column">
                    <div class="cell-text d-flex align-items-center">
                      <span class="eo-icon eo-icon-trans-ready-to-close"></span>
                      <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                        <span class="status-text">Ready to close</span>
                        <div class="status-more">
                          <a href="#">More actions</a>
                          <span class="eo-icon eo-icon-menu-arrow-down-green"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="workbench-table-cell buttons-column">
                    <div class="cell-text">
                      <button class="btn btn-primary btn-block">Start closing</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row detail-more-row pt-3 pb-md-3 flex-column flex-md-row justify-content-between">
                <div class="detail-more-main d-flex flex-column flex-lg-row flex-grow-1">
                  <div class="container detail-more-left">
                    <div class="row phone pb-1">
                      <div class="col-5 item-label text-right font-sm text-uppercase">Borrower phone</div>
                      <div class="col-7 item-value font-smaller font-weight-semibold">(123) 456-7890</div>
                    </div>
                    <div class="row other-borrowers py-1">
                      <div class="col-5 item-label text-right font-sm text-uppercase">Additional borrower(s)</div>
                      <div class="col-7 item-value font-smaller font-weight-semibold">
                        <span class="borrower d-block d-lg-inline">Rebecca Shields</span><span class="comma d-none d-lg-inline">, </span><span class="borrower d-block d-lg-inline">Martin Shields</span>
                      </div>
                    </div>
                    <div class="row address py-1">
                      <div class="col-5 item-label text-right font-sm text-uppercase">Property address</div>
                      <div class="col-7 item-value font-smaller font-weight-semibold">
                        <div class="address1">233 Massachusetts Avenue NW</div>
                        <div class="address2">Washington, DC 20008</div>
                      </div>
                    </div>
                  </div>
                  <div class="container detail-more-right">
                    <div class="row loan-number pt-1 pt-lg-0 pb-1">
                      <div class="col-5 item-label text-right font-sm text-uppercase">Loan</div>
                      <div class="col-7 item-value font-smaller font-weight-semibold">#123456789</div>
                    </div>
                    <div class="row loan-amount py-1">
                      <div class="col-5 item-label text-right font-sm text-uppercase">Amount</div>
                      <div class="col-7 item-value font-smaller font-weight-semibold">$350,000</div>
                    </div>
                    <div class="row lender-logo d-lg-none py-1">
                      <div class="col-5 item-label text-right font-sm text-uppercase"></div>
                      <div class="col-7 item-value font-smaller font-weight-semibold">
                        <img src="../img/icon_bank_of_america.png" alt="Bank of America" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="detail-more-add-note">
                </div>
              </div>

            </div> <!-- .detail-container -->



          </div> <!-- .col-12 -->
        </div> <!-- .row -->
      </div> <!-- .container -->

    </div> <!-- .detail-main -->

  </div> <!-- .main-content -->

</body>


</html>
