<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,500i,600,600i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="has-footer">
  <div class="main-content pb-0">
    <!--<nav class="navbar navbar-light bg-light justify-content-between">
      <div class="navbar-brand" href="#">
        <img src="../img/icon_header_eoriginal_logo.svg" width="157" height="30" alt="Bank of America" />
        <span class="sr-only">Bank of America</span>
      </div>
      <div class="product-name-image">
        <img src="../img/product_name_closing_center.svg" width="208" height="31" alt="Closing Center" />
      </div>
      <div class="righthand-name-menu d-flex flex-column justify-content-between">
        <div class="header-name">John Smith</div>
        <ul class="header-menu">
          <li>
            <a href="#" class="menu-item" id="closings">My Closings</a>
          </li>
          <li>
            <a href="#" class="menu-item dropdown-toggle" id="account">My Account</a>
          </li>
          <li>
            <a href="#" class="menu-item" id="signout">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav> -->

    <div class="workbench-banner bg-primary">
      <div class="container">
        <div class="row workbench-banner-content d-flex justify-content-between align-items-center">
          <div class="workbench-banner-left">
            <h1><span class="workbench-banner-left-text">My Closings</span></h1>
          </div>
          <div class="workbench-banner-middle d-none d-md-block">
            <span class="eo-icon eo-icon-closing-medium"></span>
          </div>
          <div class="workbench-banner-right">
            <a class="workbench-banner-right-text" data-toggle="collapse" href="#addAClosing" role="button" aria-expanded="false" aria-controls="addAClosing"><span class="eo-icon eo-icon-add"></span></a>
            <a class="workbench-banner-right-text" data-toggle="collapse" href="#addAClosing" role="button" aria-expanded="false" aria-controls="addAClosing">
              <span>Add closing</span>
            </a>
          </div>
        </div>

        <div class="row">

          <div class="collapse" id="addAClosing">

            <div class="workbench-banner-form">

              <div class="card card-sm card-body rounded-0 px-5 py-4">

                <button class="btn btn-blank btn-muted card-close" role="button" data-toggle="collapse" data-target="#addAClosing"  aria-expanded="false" aria-controls="addAClosing">
                  <span class="sr-only">Close</span>
                  <span class="eo-icon eo-icon-remove-large eo-icon-half-opacity"></span>
                </button>

                <h2>Add a closing</h2>

                <form class="form">

                  <div class="row">
                    <div class="col-lg-7 pr-lg-5">

                      <p>Please enter the access code and one borrower&apos;s information from the email you received.</p>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <label class="col-form-label required" for="accessCode"> <span class="eo-icon eo-icon-asterisk eo-icon-pad-sm"></span>
                            Access code
                          </label>
                          <div class="form-control-wrap">
                            <input class="form-control" name="accessCode" type="text" id="accessCode" placeholder="" value="" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-trigger="focus">
                          </div>
                          <div class="form-text"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label class="col-form-label required" for="firstName"> <span class="eo-icon eo-icon-asterisk eo-icon-pad-sm"></span>
                            Borrower&apos;s
                            first name</label>
                          <div class="form-control-wrap">
                            <input class="form-control" name="firstName" type="text" id="firstName" placeholder="" value="">
                          </div>
                          <div class="form-text"></div>
                        </div>
                        <div class="form-group col-md-6">
                          <label class="col-form-label required" for="lastName"> <span class="eo-icon eo-icon-asterisk eo-icon-pad-sm"></span>
                            Borrower&apos;s
                            last name</label>
                          <div class="form-control-wrap">
                            <input class="form-control" name="lastName" type="text" id="lastName" placeholder="" value="">
                          </div>
                          <div class="form-text"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          <label class="col-form-label required" for="emailAddress2"> <span class="eo-icon eo-icon-asterisk eo-icon-pad-sm"></span>
                            Borrower&apos;s
                            email address</label>
                          <div class="form-control-wrap">
                            <input class="form-control" name="emailAddress2" type="email" id="emailAddress2" placeholder="" value="">
                          </div>
                          <div class="form-text"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-12">
                          <label class="col-form-label required" for="organizationsName"> <span class="eo-icon eo-icon-asterisk eo-icon-pad-sm"></span>
                            Organization&apos;s
                            name</label>
                          <div class="form-control-wrap">
                            <input class="form-control" name="organizationsName" type="email" id="organizationsName" placeholder="" value="">
                          </div>
                          <div class="form-text"></div>
                        </div>
                      </div>

                    </div>

                    <div class="col-lg-5 border-lg-left border-xl-left">

                      <p>If you know the closing date, you can enter it here, to see your closings sorted by date.</p>

                      <p>
                        <a data-toggle="collapse" href="#closingDateFields" role="button" aria-expanded="false" aria-controls="closingDateFields" class="mr-1"><span class="eo-icon eo-icon-add-closing-date-green"></span></a>
                        <a data-toggle="collapse" href="#closingDateFields" role="button" aria-expanded="false" aria-controls="closingDateFields">Add date/time</a>
                      </p>

                      <div id="closingDateFields" class="collapse">

                        <div class="row align-items-end">

                          <div class="col-sm-6 col-lg-12 col-xl-6">
                            <div id="closingDatePicker"></div>
                          </div>

                          <div class="col-sm-6 col-lg-12 col-xl-6">

                            <div class="row">
                              <div class="form-group col-12">
                                <div class="pad-sm d-xs-block"></div>
                                <label class="col-form-label" for="hour">Time</label>
                                <div class="form-control-wrap">
                                  <select class="form-control form-control-short" name="hour" id="hour"><option></option></select>
                                    <select class="form-control form-control-short" name="minute" id="minute"><option></option></select>
                                </div>
                                <div class="form-text"></div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="form-group col-12">
                                <label class="col-form-label" for="timezone">Time zone</label>
                                <div class="form-control-wrap">
                                  <select class="form-control form-control-short" name="timezone" id="timezone"><option>ET</option></select>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="pad"></div>

                  <div class="form-group">
                    <button type="button" class="btn btn-primary px-5"data-toggle="collapse" data-target="#addAClosing" role="button" aria-expanded="false" aria-controls="addAClosing">Save</button>
                    <button type="button" id="cancel" class="btn btn-blank" data-toggle="collapse" data-target="#addAClosing" role="button" aria-expanded="false" aria-controls="addAClosing">Cancel</button>
                  </div>

                  <div class="pad"></div>
                  <p class="small"> <span class="eo-icon eo-icon-asterisk eo-icon-pad-sm"></span> Required field</p>

                </form>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="workbench-main">

      <div class="container py-2 py-md-3 py-xl-4 workbench-status">
        <div class="row workbench-status-content d-flex align-items-center">
          <div class="last-refreshed text-sm">
            <span class="last-refreshed-label">Last refreshed: </span>
            <span class="last-refreshed-value">12/20/2019 10:23 am ET</span>
          </div>
          <div class="refresh pl-3 pl-sm-4">
            <a href="#" class="d-flex align-items-center">
              <span class="eo-icon eo-icon-refresh"></span>
              <span class="refresh-text font-weight-semibold pl-1 pl-sm-2">Refresh</span>
            </a>
          </div>
        </div>
      </div>

      <div class="container workbench-table">
        <div class="row text-light workbench-table-header">
          <div class="workbench-table-cell col name-column d-flex justify-content-between align-items-center">
            <span class="cell-text text-uppercase font-weight-semibold">Primary Borrower</span>
          </div>
          <div class="workbench-table-cell col sortable date-column d-flex justify-content-between align-items-center">
            <span class="cell-text text-uppercase font-weight-semibold">Closing Date</span>
            <span class="eo-icon eo-icon-sort-up d-none d-sm-block"></span>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <span class="cell-text text-uppercase font-weight-semibold">Lender</span>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <span class="cell-text text-uppercase font-weight-semibold">Documents</span>
          </div>
          <div class="workbench-table-cell col sortable status-column d-flex justify-content-between align-items-center">
            <span class="cell-text text-uppercase font-weight-semibold">Status</span>
            <span class="eo-icon eo-icon-sort-down d-none d-sm-block"></span>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <span class="cell-text sr-only">Action Buttons</span>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="lastname">Rodriguez</span>, <span class="firstname">Marco</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_fannie_mae_logo_small.png" alt="Fannie Mae" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-documents"></span>
              <span class="docs pl-2">
                <span class="docs-value font-weight-semibold">12</span>
                <span class="docs-label">docs</span>
              </span>
              <span class="comma">,</span>
              <span class="pages pl-1">
                <span class="docs-value font-weight-semibold">103</span>
                <span class="docs-label">pg</span>
              </span>
            </div>
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-closing-in-process"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Closing in progress</span>
                <div class="status-more d-none d-md-block">
                  <a href="#">More actions</a>
                  <span class="eo-icon eo-icon-menu-arrow-down-green"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
              <button class="btn btn-primary btn-block">Complete closing</button>
            </div>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="last">Nguyen</span>, <span class="first">Naomi</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
              <span class="date font-weight-semibold pr-sm-1">12/11/2019</span>
              <span class="time d-block d-sm-inline">8:00 am ET</span>
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_fairway_logo_small.png" alt="Fairway" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-documents"></span>
              <span class="docs pl-2">
                <span class="docs-value font-weight-semibold">8</span>
                <span class="docs-label">docs</span>
              </span>
              <span class="comma">,</span>
              <span class="pages pl-1">
                <span class="docs-value font-weight-semibold">76</span>
                <span class="docs-label">pg</span>
              </span>
              <span class="msg ml-auto">
                <span class="eo-icon eo-icon-note-green"></span>
                <span class="num-msgs">2</span>
              </span>
            </div>
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-closing-completed"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Closing completed</span>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
              <button class="btn btn-secondary btn-block">Finish</button>
            </div>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="last">Fredrick</span>, <span class="first">Warren</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
              <span class="date font-weight-semibold pr-sm-1">12/12/2019</span>
              <span class="time d-block d-sm-inline">9:00 am ET</span>
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_bank_of_america.png" alt="Bank of America" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-documents-updated" data-toggle="tooltip" title="Updated docs retrieved at 9:15am ET 12/20/2019"></span>
              <span class="docs pl-2">
                <span class="docs-value font-weight-semibold">15</span>
                <span class="docs-label">docs</span>
              </span>
              <span class="comma">,</span>
              <span class="pages pl-1">
                <span class="docs-value font-weight-semibold">99</span>
                <span class="docs-label">pg</span>
              </span>
            </div>
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-lender"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Lender review</span>
                <div class="status-more d-none d-md-block">
                  <a href="#">More actions</a>
                  <span class="eo-icon eo-icon-menu-arrow-down-green"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
            </div>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="last">Shields</span>, <span class="first">Jonathan</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
              <span class="date font-weight-semibold pr-sm-1">12/14/2019</span>
              <span class="time d-block d-sm-inline">4:30 pm ET</span>
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_bank_of_america.png" alt="Bank of America" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-documents-updated" data-toggle="tooltip" title="Updated docs retrieved at 9:15am ET 12/20/2019"></span>
              <span class="docs pl-2">
                <span class="docs-value font-weight-semibold">13</span>
                <span class="docs-label">docs</span>
              </span>
              <span class="comma">,</span>
              <span class="pages pl-1">
                <span class="docs-value font-weight-semibold">106</span>
                <span class="docs-label">pg</span>
              </span>
            </div>
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-ready-to-close"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Ready to close</span>
                <div class="status-more d-none d-md-block">
                  <a href="#">More actions</a>
                  <span class="eo-icon eo-icon-menu-arrow-down-green"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
              <button class="btn btn-primary btn-block">Start closing</button>
            </div>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="last">Lu</span>, <span class="first">Florence</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
              <span class="date font-weight-semibold pr-sm-1">12/15/2019</span>
              <span class="time d-block d-sm-inline">8:30 am ET</span>
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_roundpoint_logo_small.png" alt="Roundpoint" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-withdrawn"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Withdrawn</span>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
              <button class="btn btn-secondary btn-block">Remove closing</button>
            </div>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="last">Von dem Knesbeck - Robertson</span>, <span class="first">Hannah</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
              <span class="date font-weight-semibold pr-sm-1">12/15/2019</span>
              <span class="time d-block d-sm-inline">1:30 pm ET</span>
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_lender_logo_white_bgd.png" alt="Fairway with white background TEST" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-documents"></span>
              <span class="docs pl-2">
                <span class="docs-value font-weight-semibold">10</span>
                <span class="docs-label">docs</span>
              </span>
              <span class="comma">,</span>
              <span class="pages pl-1">
                <span class="docs-value font-weight-semibold">54</span>
                <span class="docs-label">pg</span>
              </span>
            </div>
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-void"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Void</span>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
              <button class="btn btn-secondary btn-block">Remove closing</button>
            </div>
          </div>
        </div>

        <div class="row border-bottom align-items-center workbench-table-row">
          <div class="workbench-table-cell col name-column">
            <div class="cell-text font-weight-semibold">
              <span class="last">Sorrenson</span>, <span class="first">Alecia</span>
            </div>
          </div>
          <div class="workbench-table-cell col date-column">
            <div class="cell-text">
              <span class="date font-weight-semibold pr-sm-1">12/16/2019</span>
              <span class="time d-block d-sm-inline">8:30 am ET</span>
            </div>
          </div>
          <div class="workbench-table-cell col lender-column d-none d-xl-block">
            <div class="cell-text">
              <img src="../img/icon_fannie_mae_logo_small.png" alt="Fannie Mae" />
            </div>
          </div>
          <div class="workbench-table-cell col documents-column d-none d-lg-block">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-documents"></span>
              <span class="docs pl-2">
                <span class="docs-value font-weight-semibold">15</span>
                <span class="docs-label">docs</span>
              </span>
              <span class="comma">,</span>
              <span class="pages pl-1">
                <span class="docs-value font-weight-semibold">99</span>
                <span class="docs-label">pg</span>
              </span>
            </div>
          </div>
          <div class="workbench-table-cell col status-column">
            <div class="cell-text d-flex align-items-center">
              <span class="eo-icon eo-icon-trans-ready-to-close"></span>
              <div class="pl-1 pl-sm-3 d-flex flex-column justify-content-center font-weight-semibold">
                <span class="status-text">Ready to close</span>
                <div class="status-more d-none d-md-block">
                  <a href="#">More actions</a>
                  <span class="eo-icon eo-icon-menu-arrow-down-green"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="workbench-table-cell col buttons-column d-none d-md-block">
            <div class="cell-text">
              <button class="btn btn-primary btn-block">Start closing</button>
            </div>
          </div>
        </div>

      </div>

  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="../dist/js/bootstrap.min.js"></script>

  <script>

    $('[data-toggle="tooltip"]').tooltip();

    $('#addAClosing')
      .on('show.bs.collapse hide.bs.collapse', function (e) {

        e.stopPropagation();

        $('[href="#addAClosing"]')
          .toggleClass('d-none');
        $(this).parents('.workbench-banner')
          .toggleClass('workbench-banner-open');
      });

    $('#closingDateFields')
      .on('show.bs.collapse hide.bs.collapse', function (e) {

        e.stopPropagation();

        $('[href="#closingDateFields"]')
          .toggleClass('d-none');
      });

    $('#closingDatePicker').datetimepicker({
      allowMultidate: true,
      multidateSeparator: ',',
      inline: true,
      format: 'L',
      icons: {
        next: "eo-icon eo-icon-next-arrow",
        previous: "eo-icon eo-icon-previous-arrow",
      },
      defaultDate: "01/01/2019",
    });

  </script>

</body>


</html>
